<h1>Welcome to Chirpus Pizza</h1>
<h2>Menu</h2>

<table>
  <tr>
    <th>Item</th>
    <th>Category</th>
    <th>Price</th>
  </tr>
  <tr *ngFor="let item of menuItems">
    <td>{{item.menuItem}}</td>
    <td>{{item.category}}</td>
    <td>{{item.price}}</td>
  </tr>
</table>

<h1>TRYING THE EXTENDED EXCERSIZE BUT COULDNT GET IT TO WORK
  PLEASE CHECK component.TS
</h1>
<script src="app.component.ts"></script>
<h2>Dinner</h2>

<table>
  <tr>
    <th>Item</th>
    <th>Price</th>
  </tr>
  <tr *ngFor="let item of menuItems">
    <td id="dItem">{{item.menuItem}}</td>
    <td id="dPrice">{{item.price}}</td>
  </tr>
</table>

<h2>Sides</h2>

<table>
  <tr>
    <th>Item</th>
    <th>Price</th>
  </tr>
  <tr *ngFor="let item of menuItems">
    <td id="sideItem">{{item.menuItem}}</td>
    <td id="sidePrice">{{item.price}}</td>
  </tr>
</table>

<h2>Salads</h2>

<table>
  <tr>
    <th>Item</th>
    <th>Price</th>
  </tr>
  <tr *ngFor="let item of menuItems">
    <td id="sItem">{{item.menuItem}}</td>
    <td id="sPrice">{{item.price}}</td>
  </tr>
</table>

<h2>Dessert</h2>

<table>
  <tr>
    <th>Item</th>
    <th>Price</th>
  </tr>
  <tr *ngFor="let item of menuItems">
    <td id="desItem">{{item.menuItem}}</td>
    <td id="desPrice">{{item.price}}</td>
  </tr>
</table>

